h2 {
    font-size: 24px;
    font-family: "Baloo 2", sans-serif;
}

.btn-primary, .btn-secondary {
    width: fit-content;
    padding: 0px 10px;
    height: 40px;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.btn-primary {
    background-color: #5D4A2D;
    color: #ffffff;
}

.btn-secondary {
    background-color: #fff;
    color: black;
}